{% extends 'layout/base.html' %}
{% load i18n %}

{% block title %} {% trans "Sale" %} {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content-wrapper listing-sales">

		<!-- Page header -->
		<div class="page-header">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						<i class="icon-arrow-left52 position-left"></i>
						<span class="text-semibold">{% trans "Accounting software CSV" %}</span> - {% trans "Sale" %}
					</h4>
				</div>
			</div>

			<div class="breadcrumb-line breadcrumb-line-component">
				<ul class="breadcrumb">
					<li><a><i class="icon-cart2 position-left"></i>{% trans "Accounting software CSV" %}</a></li>
					<li class="active">{% trans "Sale" %}</li>
				</ul>
			</div>
		</div>
		<!-- /page header -->

		<!-- Content area -->
		<div class="content">

			<div class="panel panel-flat">
				<div class="panel-heading">
					<h2 class="panel-title">{% trans "Sale" %}</h2>
				</div>

				<div class="panel-body">
					<form action="" method="GET">
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label>{% trans "Contract ID" %}:</label>
									<input type="text" class="form-control" name="contract_id" value="{{ contract_id }}" placeholder="{% trans 'Contract ID' %}">
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group">
									<label>{% trans "Created date" %}:</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-calendar22"></i></span>
										<input type="text" class="form-control datepicker-nullable" name="created_at" value="{{ created_at }}">
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group">
									<label>{% trans "Customer" %}:</label>
									<input type="text" class="form-control" name="customer" value="{{ customer }}" placeholder="{% trans 'Customer' %}">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="mb-3 text-right">
									<button type="submit" class="btn btn-primary"><i class="icon-search4 position-left"></i>{% trans "Search" %}</button>
								</div>
							</div>
						</div>
					</form>
				</div>

				<div class="table-responsive">
					<p class="search-result">{% trans "Search results" %}:</p>
					<table class="table table-bordered table-hover table-framed">
						<thead>
							<tr>
								<th>{% trans "Contract ID" %}</th>
								<th>{% trans "Contract date" %}</th>
								<th>{% trans "Type" %}</th>
								<th>{% trans "Taxation" %}</th>
								<th>{% trans "Amount" %}</th>
								<th>{% trans "Customer" %}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1617130845</td>
								<td>2021/03/31</td>
								<td>{% trans "Income" %}</td>
								<td>課税売上10%</td>
								<td>93,500</td>
								<td>（株）ライム</td>
							</tr>
							<tr>
								<td>1617130845</td>
								<td>2020/03/31</td>
								<td>{% trans "Income" %}</td>
								<td>非課売上</td>
								<td>100</td>
								<td>（株）ライム</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="my-5-s text-center">
							<form action="" method="post">
								{% csrf_token %}
								<button type="submit" class="btn btn-primary"><i class="icon-exit3 position-left"></i>{% trans "Export to CSV" %}</button>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /content area -->

	</div>
{% endblock %}
