{% extends 'layout/base.html' %}
{% load i18n %}

{% block title %} {% trans "Customer" %} {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
	<div class="content-wrapper">

		<!-- Page header -->
		<div class="page-header">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						<i class="icon-arrow-left52 position-left"></i>
						<span class="text-semibold">{% trans "Master data" %}</span> - {% trans "Customer" %}
					</h4>
				</div>
			</div>

			<div class="breadcrumb-line breadcrumb-line-component">
				<ul class="breadcrumb">
					<li><a><i class="icon-stack2 position-left"></i>{% trans "Master data" %}</a></li>
					<li class="active">{% trans "Customer" %}</li>
				</ul>
			</div>
		</div>
		<!-- /page header -->

		<!-- Content area -->
		<div class="content">

			<div class="panel panel-flat">
				<div class="panel-heading">
					<h5 class="panel-title">{% trans "Customer" %}</h5>
					<div class="heading-elements">
						<ul class="icons-list">
							<li><a data-action="collapse"></a></li>
							<li><a data-action="reload"></a></li>
							<li><a data-action="close"></a></li>
						</ul>
					</div>
				</div>

				<div class="panel-body" style="padding-bottom: 0"></div>

				<table class="table datatable-basic table-hover">
					<thead>
						<tr>
							<th>{% trans "No" %}</th>
							<th>{% trans "Customer name" %}</th>
							<th>{% trans "Frigana" %}</th>
							<th>{% trans "Postal code" %}</th>
							<th>{% trans "Address" %}</th>
							<th>{% trans "TEL" %}</th>
							<th>{% trans "FAX" %}</th>
							<th>{% trans "For CSV" %}</th>
						</tr>
					</thead>
					<tbody>
						{% for customer in master_data %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>{{ customer.name }}</td>
							<td>{{ customer.frigana }}</td>
							<td>{{ customer.postal_code|default_if_none:"" }}</td>
							<td>{{ customer.address }}</td>
							<td>{{ customer.tel|default_if_none:"" }}</td>
							<td>{{ customer.fax|default_if_none:"" }}</td>
							<td>{{ customer.csv }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

				<div class="row">
					<div class="col-md-12">
						<div class="mb-5-s text-center">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_add_new_data">
								<i class="icon-plus2 position-left"></i>{% trans "Add Customer" %}</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Disabled backdrop Add New Master Data Modal -->
			<div id="modal_add_new_data" class="modal fade" data-backdrop="false" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h5 class="modal-title">{% trans "Add Customer" %}</h5>
						</div>

						<div class="modal-body">
							<hr/>

							<form class="form-horizontal" method="POST" action="">
								{% csrf_token %}
								
								<fieldset class="content-group">

									<div class="form-group">
										<label class="control-label col-lg-3">{% trans "Customer name" %}:</label>
										<div class="col-lg-9">
											<input type="text" name="name" class="form-control" placeholder="{% trans 'Enter customer name' %}..." required>
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-lg-3">{% trans "Frigana" %}:</label>
										<div class="col-lg-9">
											<input type="text" name="frigana" class="form-control" placeholder="{% trans 'Enter frigana' %}..." required>
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-lg-3">{% trans "Postal code" %}:</label>
										<div class="col-lg-9">
											<input type="text" name="postal_code" class="form-control" placeholder="{% trans 'Enter postal code' %}...">
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-lg-3">{% trans "Address" %}:</label>
										<div class="col-lg-9">
											<input type="text" name="address" class="form-control" placeholder="{% trans 'Enter address' %}..." required>
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-lg-3">{% trans "TEL" %}:</label>
										<div class="col-lg-9">
											<input type="text" name="tel" class="form-control" placeholder="{% trans 'Enter TEL' %}...">
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-lg-3">{% trans "FAX" %}:</label>
										<div class="col-lg-9">
											<input type="text" name="fax" class="form-control" placeholder="{% trans 'Enter FAX' %}...">
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-lg-3">{% trans "For CSV" %}:</label>
										<div class="col-lg-9">
											<input type="text" name="csv" class="form-control" placeholder="{% trans 'Enter CSV name' %}..." required>
										</div>
									</div>

								</fieldset>

								<div class="modal-footer">
									<button type="submit" class="btn btn-primary">{% trans "Add" %}</button>
									<button type="button" class="btn btn-link" data-dismiss="modal">{% trans "Close" %}</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- /disabled backdrop -->
		</div>
		<!-- /content area -->

	</div>
{% endblock %}
