{% extends 'layout/base.html' %}
{% load i18n %}

{% block title %} Sold by Trader {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
	<input type="hidden" name="alt-path" value="{{ base_url }}/master/product-others">
	<div class="content-wrapper">

		<!-- Page header -->
		<div class="page-header">
			<div class="page-header-content">
				<div class="page-title">
					<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">{% trans "Master data" %}</span> - {% trans "Product name and others" %}</h4>
				</div>

				<div class="heading-elements">
					<div class="heading-btn-group">
						<a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>{% trans "Statistics" %}</span></a>
						<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>{% trans "Invoices" %}</span></a>
						<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>{% trans "Schedule" %}</span></a>
					</div>
				</div>
			</div>

			<div class="breadcrumb-line breadcrumb-line-component">
				<ul class="breadcrumb">
					<li><a href="index.html"><i class="icon-home2 position-left"></i> {% trans "Home" %}</a></li>
					<li><a href="datatable_styling.html">{% trans "Master data" %}</a></li>
					<li class="active">{% trans "Product name and others" %}</li>
				</ul>

				<ul class="breadcrumb-elements">
					<li><a href="#"><i class="icon-comment-discussion position-left"></i> {% trans "Support" %}</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-gear position-left"></i>
							{% trans "Settings" %}
							<span class="caret"></span>
						</a>

						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="#"><i class="icon-user-lock"></i> {% trans "Account security" %}</a></li>
							<li><a href="#"><i class="icon-statistics"></i> {% trans "Analytics" %}</a></li>
							<li><a href="#"><i class="icon-accessibility"></i> {% trans "Accessibility" %}</a></li>
							<li class="divider"></li>
							<li><a href="#"><i class="icon-gear"></i> {% trans "All settings" %}</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- /page header -->

		<!-- Content area -->
		<div class="content">

			<div class="panel panel-flat">
				<div class="panel-heading">
					<h5 class="panel-title">{% trans "Product name and others" %}</h5>
					<div class="heading-elements">
						<ul class="icons-list">
							<li><a data-action="collapse"></a></li>
							<li><a data-action="reload"></a></li>
							<li><a data-action="close"></a></li>
						</ul>
					</div>
				</div>

				<div class="panel-body" style="padding-bottom: 0"></div>

				<table class="table datatable-basic table-hover">
					<thead>
						<tr>
							<th>{% trans "Name" %}</th>
							<th>{% trans "Account" %}</th>
							<th>{% trans "Tax classification" %}</th>
						</tr>
					</thead>
					<tbody>

						{% for product_other in product_others %}
							<tr>
								<td>{{ product_other.name }}</td>
								<td>{{ product_other.account }}</td>
								<td>{{ product_other.tax_classification }}</td>
							</tr>
						{% endfor %}
						
					</tbody>
				</table>

				<div class="row">
					<div class="col-md-12">
						<div class="mb-5-s text-center">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_add_new_data"><i class="icon-plus2 position-left"></i>{% trans "Add Product" %}</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Disabled backdrop Add New Master Data Modal -->
			<div id="modal_add_new_data" class="modal fade" data-backdrop="false" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h5 class="modal-title">{% trans "Add Product" %}</h5>
						</div>

						<div class="modal-body">
							<hr/>

							<form class="form-horizontal" action="" method="POST">
								{% csrf_token %}
								<fieldset class="content-group">

									<div class="form-group">
										<label class="control-label col-lg-3">{% trans "Name" %}:</label>
										<div class="col-lg-9">
											<input type="text" name="name" class="form-control" placeholder="{% trans 'Enter name' %}..." required>
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-lg-3">{% trans "Account" %}:</label>
										<div class="col-lg-9">
											<input type="text" name="account" class="form-control" placeholder="{% trans 'Enter account' %}..." required>
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-lg-3">{% trans "Tax classification" %}:</label>
										<div class="col-lg-9">
											<input type="text" name="tax_classification" class="form-control" placeholder="{% trans 'Enter tax classification' %}..." required>
										</div>
									</div>

								</fieldset>
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary">{% trans "Add" %}</button>
									<button type="button" class="btn btn-link" data-dismiss="modal">{% trans "Close" %}</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- /disabled backdrop -->

			<!-- Footer -->
			<div class="footer text-muted">
				&copy; 2020. {% trans "Copyright" %}
			</div>
			<!-- /footer -->

		</div>
		<!-- /content area -->

	</div>
{% endblock %}
