{% extends 'layout/base.html' %}
{% load i18n %}

{% block title %} {% trans "Inventory" %} {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content-wrapper">

		<!-- Page header -->
		<div class="page-header">
			<div class="page-header-content">
				<div class="page-title">
					<h4>
						<i class="icon-arrow-left52 position-left"></i>
						<span class="text-semibold">{% trans "List" %}</span> - {% trans "Inventory" %}
					</h4>
				</div>
			</div>

			<div class="breadcrumb-line breadcrumb-line-component">
				<ul class="breadcrumb">
					<li><a><i class="icon-cart2 position-left"></i>{% trans "List" %}</a></li>
					<li class="active">{% trans "Inventory" %}</li>
				</ul>
			</div>
		</div>
		<!-- /page header -->

		<!-- Content area -->
		<div class="content">

			<div class="panel panel-flat">
				<div class="panel-heading">
					<h5 class="panel-title">{% trans "Inventory" %}</h5>
				</div>

				<div class="panel-body" style="padding-top: 20px">
					<form action="#">
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label>{% trans "Created date" %}:</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="icon-calendar22"></i></span>
										<input type="text" class="form-control daterange-single">
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group">
									<label>{% trans "Product name" %}:</label>
									<input type="text" class="form-control" placeholder="{% trans 'Product name' %}">
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group">
									<label>{% trans "Customer" %}:</label>
									<input type="text" class="form-control" placeholder="{% trans 'Customer' %}">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>{% trans "In charge" %}:</label>
									<input type="text" class="form-control" placeholder="{% trans 'In charge' %}">
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label>{% trans "Stock" %}:</label>
									<input type="text" class="form-control" placeholder="{% trans 'Stock' %}">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="mb-3 text-right">
									<button type="button" class="btn btn-primary"><i class="icon-search4 position-left"></i>{% trans "Search" %}</button>
								</div>
							</div>
						</div>
					</form>
				</div>

				<div class="table-responsive">
					<p style="padding: 10px 20px; font-size: 16px;">{% trans "Search results" %}:</p>
					<table class="table table-bordered table-hover table-framed">
						<thead>
							<tr class="bg-blue">
								<th>{% trans "No" %}</th>
								<th>{% trans "Product name" %}</th>
								<th>{% trans "Control number" %}</th>
								<th>{% trans "Purchases date" %}</th>
								<th>{% trans "Supplier" %}</th>
								<th>{% trans "In charge" %}</th>
								<th>{% trans "Number of units" %}</th>
								<th>{% trans "Unit price" %}</th>
								<th>{% trans "Stock" %}</th>
								<th>{% trans "Total Price" %}</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>1</td>
								<td>Ｓ聖闘士星矢海皇覚醒ＳＰ－ＫＦ</td>
								<td>17884</td>
								<td>2021/03/26</td>
								<td>アイエス販売</td>
								<td>金昇志</td>
								<td>10</td>
								<td>1500</td>
								<td>10</td>
								<td>15,000</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Ｓ聖闘士星矢海皇覚醒ＳＰ－ＫＦ</td>
								<td>17884</td>
								<td>2021/03/26</td>
								<td>アイエス販売</td>
								<td>金昇志</td>
								<td>10</td>
								<td>1500</td>
								<td>10</td>
								<td>15,000</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Ｓ聖闘士星矢海皇覚醒ＳＰ－ＫＦ</td>
								<td>17884</td>
								<td>2021/03/26</td>
								<td>アイエス販売</td>
								<td>金昇志</td>
								<td>10</td>
								<td>1500</td>
								<td>10</td>
								<td>15,000</td>
							</tr>
							<tr>
								<td>4</td>
								<td>Ｓ聖闘士星矢海皇覚醒ＳＰ－ＫＦ</td>
								<td>17884</td>
								<td>2021/03/26</td>
								<td>アイエス販売</td>
								<td>金昇志</td>
								<td>10</td>
								<td>1500</td>
								<td>10</td>
								<td>15,000</td>
							</tr>
							<tr>
								<td>5</td>
								<td>Ｓ聖闘士星矢海皇覚醒ＳＰ－ＫＦ</td>
								<td>17884</td>
								<td>2021/03/26</td>
								<td>アイエス販売</td>
								<td>金昇志</td>
								<td>10</td>
								<td>1500</td>
								<td>10</td>
								<td>15,000</td>
							</tr>
							
						</tbody>
					</table>
				</div>

				<div class="panel panel-body border-top-teal text-center">
					<ul class="pagination pagination-separated pagination-rounded">
						<li><a href="#">&lsaquo;</a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li class="disabled"><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">&rsaquo;</a></li>
					</ul>
				</div>


				<div class="row">
					<div class="col-md-12">
						<div class="my-5-s text-center">
							<button type="button" class="btn btn-primary"><i class="icon-exit3 position-left"></i>{% trans "Export To CSV" %}</button>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /content area -->

	</div>
	{% endblock %}