{% load static %}
{% load i18n %}
{% load sidebar_tags %}

<!-- Main sidebar -->
<div class="sidebar sidebar-main">
    <div class="sidebar-content">

        <!-- User menu -->
        <div class="sidebar-user">
            <div class="category-content">
                <div class="media">
                    <a href="#" class="media-left"><img src="{% static 'global_assets/images/placeholders/placeholder.jpg' %}" class="img-circle img-sm" alt=""></a>
                    <div class="media-body">
                        <span class="media-heading text-semibold">{{ request.user }}</span>
                        <div class="text-size-mini text-muted">
                            <i class="icon-pin text-size-small"></i> &nbsp;日本, 東京
                        </div>
                    </div>

                    <div class="media-right media-middle">
                        <ul class="icons-list">
                            <li>
                                <a href="#"><i class="icon-cog3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /user menu -->


        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    <li class="{% active 'index.html' %}"><a href="{% url 'dashboard' %}"><i class="icon-home4"></i> <span>{% trans "Dashboard" %}</span></a></li>
                    <li>
                        <a href="#"><i class="icon-stack2"></i> <span>{% trans "Master data" %}</span></a>
                        <ul>
                            <li class="{% active 'master/customer' %}"><a href="{% url 'customer-master' %}">{% trans "Customer master" %}</a></li>
                            <li class="{% active 'master_data_hall_details.html' %}"><a href="master_data_hall_details.html">{% trans "Hall" %}</a></li>
                            <li class="{% active 'master_data_shipping_addresses.html' %}"><a href="master_data_shipping_addresses.html">{% trans "Shipping address" %}</a></li>
                            <li class="{% active 'master_data_product_name.html' %}"><a href="master_data_product_name.html">{% trans "Product name" %}</a></li>
                            <li class="{% active 'master_data_others.html' %}"><a href="master_data_others.html">{% trans "Others" %}</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="icon-cart2"></i> <span>{% trans "Sales contract creation" %}</span></a>
                        <ul>
                            <li class="{% active 'sales_contract_trader_sales.html' %}"><a href="sales_contract_trader_sales.html">{% trans "Trader sales" %}</a></li>
                            <li class="{% active 'sales_contract_trader_purchases.html' %}"><a href="sales_contract_trader_purchases.html">{% trans "Trader purchases" %}</a></li>
                            <li class="{% active 'sales_contract_hall_sales.html' %}"><a href="sales_contract_hall_sales.html">{% trans "Hall sales" %}</a></li>
                            <li class="{% active 'sales_contract_hall_purchases.html' %}"><a href="sales_contract_hall_purchases.html">{% trans "Hall purchases" %}</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#"><i class="icon-list"></i> <span>{% trans "List" %}</span></a>
                        <ul>
                            <li class="{% active 'list_sales_history.html' %}"><a href="list_sales_history.html">{% trans "Sales history" %}</a></li>
                            <li class="{% active 'list_purchases_history.html' %}"><a href="list_purchases_history.html">{% trans "Purchases history" %}</a></li>
                            <li class="{% active 'list_inventory.html' %}"><a href="list_inventory.html">{% trans "Inventory" %}</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="icon-exit3"></i> <span>{% trans "Accounting software CSV" %}</span></a>
                        <ul>
                            <li class="{% active 'accounting_csv_sales.html' %}"><a href="accounting_csv_sales.html">{% trans "Sales data" %}</a></li>
                            <li class="{% active 'accounting_csv_purchases.html' %}"><a href="accounting_csv_purchases.html">{% trans "Purchases data" %}</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        <!-- /main navigation -->

    </div>
</div>
<!-- /main sidebar -->