{% extends 'layouts/base.html' %}
{% load i18n %}

{% block title %} Sold by Trader {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
	<input type="hidden" name="alt-path" value="{{ base_url }}/accounting_csv_sales.html">
	<div class="content-wrapper">

		<!-- Page header -->
		<div class="page-header">
			<div class="page-header-content">
				<div class="page-title">
					<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">{% trans "Accounting software CSV" %}</span> - {% trans "Sales data" %}</h4>
				</div>

				<div class="heading-elements">
					<div class="heading-btn-group">
						<a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>{% trans "Statistics" %}</span></a>
						<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>{% trans "Invoices" %}</span></a>
						<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>{% trans "Schedule" %}</span></a>
					</div>
				</div>
			</div>

			<div class="breadcrumb-line breadcrumb-line-component">
				<ul class="breadcrumb">
					<li><a href="index.html"><i class="icon-home2 position-left"></i> {% trans "Home" %}</a></li>
					<li><a href="datatable_styling.html">{% trans "Accounting software CSV" %}</a></li>
					<li class="active">{% trans "Sales data" %}</li>
				</ul>

				<ul class="breadcrumb-elements">
					<li><a href="#"><i class="icon-comment-discussion position-left"></i> {% trans "Support" %}</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-gear position-left"></i>
								{% trans "Settings" %}
							<span class="caret"></span>
						</a>

						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="#"><i class="icon-user-lock"></i> {% trans "Account security" %}</a></li>
							<li><a href="#"><i class="icon-statistics"></i> {% trans "Analytics" %}</a></li>
							<li><a href="#"><i class="icon-accessibility"></i> {% trans "Accessibility" %}</a></li>
							<li class="divider"></li>
							<li><a href="#"><i class="icon-gear"></i> {% trans "All settings" %}</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- /page header -->

		<!-- Content area -->
		<div class="content">

			<div class="panel panel-flat">
				<div class="panel-heading">
					<h5 class="panel-title">{% trans "Sales" %}</h5>
					<div class="heading-elements">
						<ul class="icons-list">
							<li><a data-action="collapse"></a></li>
							<li><a data-action="reload"></a></li>
							<li><a data-action="close"></a></li>
						</ul>
					</div>
				</div>

				<div class="panel-body" style="padding-bottom: 0"></div>

				<div class="table-responsive">
					<table class="table table-bordered table-hover table-framed">
						
						<tbody>
							<tr>
								<td>2020/10/28</td>
								<td>Income</td>
								<td>Taxable sales 10%</td>
								<td>93,500</td>
								<td>Lime Co.,Ltd.</td>
							</tr>
							<tr>
								<td>2020/10/28</td>
								<td></td>
								<td>Non-payment sales</td>
								<td>100</td>
								<td>Lime Co.,Ltd.</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="my-5-s text-center">
							<button type="button" class="btn btn-primary"><i class="icon-exit3 position-left"></i>{% trans "Export To CSV" %}</button>
						</div>
					</div>
				</div>
			</div>


			<!-- Footer -->
			<div class="footer text-muted">
				&copy; 2020. {% trans "Copyright" %}
			</div>
			<!-- /footer -->

		</div>
		<!-- /content area -->

	</div>
{% endblock %}
