{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Content area -->
        <div class="content">

            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Dashboard Page</h5>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                            <li><a data-action="close"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body" style="padding-bottom: 0"></div>

                <table class="table datatable-basic table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Customer name</th>
                            <th>Frigana</th>
                            <th>Postal code</th>
                            <th>Street address</th>
                            <th>TEL</th>
                            <th>FAX</th>
                            <th>For CSV</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Chris Kim</td>
                            <td>Frigana</td>
                            <td>15033</td>
                            <td>B-123, Linden Street, Rooswell, Boston</td>
                            <td>1234567890</td>
                            <td>1234567890</td>
                            <td>CSV 1</td>
                        </tr>
                        
                        <tr>
                            <td>2</td>
                            <td>Chris Kim</td>
                            <td>Frigana</td>
                            <td>15033</td>
                            <td>B-123, Linden Street, Rooswell, Boston</td>
                            <td>1234567890</td>
                            <td>1234567890</td>
                            <td>CSV 1</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>Chris Kim</td>
                            <td>Frigana</td>
                            <td>15033</td>
                            <td>B-123, Linden Street, Rooswell, Boston</td>
                            <td>1234567890</td>
                            <td>1234567890</td>
                            <td>CSV 1</td>
                        </tr>

                        <tr>
                            <td>1</td>
                            <td>Chris Kim</td>
                            <td>Frigana</td>
                            <td>15033</td>
                            <td>B-123, Linden Street, Rooswell, Boston</td>
                            <td>1234567890</td>
                            <td>1234567890</td>
                            <td>CSV 1</td>
                        </tr>
                        
                        <tr>
                            <td>2</td>
                            <td>Chris Kim</td>
                            <td>Frigana</td>
                            <td>15033</td>
                            <td>B-123, Linden Street, Rooswell, Boston</td>
                            <td>1234567890</td>
                            <td>1234567890</td>
                            <td>CSV 1</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>Chris Kim</td>
                            <td>Frigana</td>
                            <td>15033</td>
                            <td>B-123, Linden Street, Rooswell, Boston</td>
                            <td>1234567890</td>
                            <td>1234567890</td>
                            <td>CSV 1</td>
                        </tr>

                        <tr>
                            <td>1</td>
                            <td>Chris Kim</td>
                            <td>Frigana</td>
                            <td>15033</td>
                            <td>B-123, Linden Street, Rooswell, Boston</td>
                            <td>1234567890</td>
                            <td>1234567890</td>
                            <td>CSV 1</td>
                        </tr>
                        
                        <tr>
                            <td>2</td>
                            <td>Chris Kim</td>
                            <td>Frigana</td>
                            <td>15033</td>
                            <td>B-123, Linden Street, Rooswell, Boston</td>
                            <td>1234567890</td>
                            <td>1234567890</td>
                            <td>CSV 1</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>Chris Kim</td>
                            <td>Frigana</td>
                            <td>15033</td>
                            <td>B-123, Linden Street, Rooswell, Boston</td>
                            <td>1234567890</td>
                            <td>1234567890</td>
                            <td>CSV 1</td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>Chris Kim</td>
                            <td>Frigana</td>
                            <td>15033</td>
                            <td>B-123, Linden Street, Rooswell, Boston</td>
                            <td>1234567890</td>
                            <td>1234567890</td>
                            <td>CSV 1</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>Chris Kim</td>
                            <td>Frigana</td>
                            <td>15033</td>
                            <td>B-123, Linden Street, Rooswell, Boston</td>
                            <td>1234567890</td>
                            <td>1234567890</td>
                            <td>CSV 1</td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>Chris Kim</td>
                            <td>Frigana</td>
                            <td>15033</td>
                            <td>B-123, Linden Street, Rooswell, Boston</td>
                            <td>1234567890</td>
                            <td>1234567890</td>
                            <td>CSV 1</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>Chris Kim</td>
                            <td>Frigana</td>
                            <td>15033</td>
                            <td>B-123, Linden Street, Rooswell, Boston</td>
                            <td>1234567890</td>
                            <td>1234567890</td>
                            <td>CSV 1</td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-5-s text-center">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_add_new_data"><i class="icon-plus2 position-left"></i>Add Customer Master</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Disabled backdrop Add New Master Data Modal -->
            <div id="modal_add_new_data" class="modal fade" data-backdrop="false" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h5 class="modal-title">Add Customer Master</h5>
                        </div>

                        <div class="modal-body">
                            <hr/>

                            <form class="form-horizontal" action="#">
                                <fieldset class="content-group">

                                    <div class="form-group">
                                        <label class="control-label col-lg-3">Customer name:</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" placeholder="Enter customer name...">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-lg-3">Frigana:</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" placeholder="Enter frigana...">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-lg-3">Postal Code:</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" placeholder="Enter postal code...">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-lg-3">Street address:</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" placeholder="Enter street address...">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-lg-3">TEL:</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" placeholder="Enter TEL...">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-lg-3">FAX:</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" placeholder="Enter FAX...">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-lg-3">For CSV:</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" placeholder="Enter proper data...">
                                        </div>
                                    </div>

                                </fieldset>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Add</button>
                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /disabled backdrop -->

            

        </div>
        <!-- /content area -->

    </div>
    <!-- /main content -->

{% endblock %}
		