{% extends 'layouts/base.html' %}
{% load i18n %}

{% block title %} Sold by Trader {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
	<input type="hidden" name="alt-path" value="{{ base_url }}/master_data_others.html">
	<div class="content-wrapper">

		<!-- Page header -->
		<div class="page-header">
			<div class="page-header-content">
				<div class="page-title">
					<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Master Data Registration</span> - Product Name and Others</h4>
				</div>

				<div class="heading-elements">
					<div class="heading-btn-group">
						<a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
						<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
						<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
					</div>
				</div>
			</div>

			<div class="breadcrumb-line breadcrumb-line-component">
				<ul class="breadcrumb">
					<li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
					<li><a href="datatable_styling.html">Master card registration</a></li>
					<li class="active">Product name and others</li>
				</ul>

				<ul class="breadcrumb-elements">
					<li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-gear position-left"></i>
							Settings
							<span class="caret"></span>
						</a>

						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
							<li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
							<li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
							<li class="divider"></li>
							<li><a href="#"><i class="icon-gear"></i> All settings</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- /page header -->

		<!-- Content area -->
		<div class="content">

			<div class="panel panel-flat">
				<div class="panel-heading">
					<h5 class="panel-title">Product Name and Others</h5>
					<div class="heading-elements">
						<ul class="icons-list">
							<li><a data-action="collapse"></a></li>
							<li><a data-action="reload"></a></li>
							<li><a data-action="close"></a></li>
						</ul>
					</div>
				</div>

				<div class="panel-body" style="padding-bottom: 0"></div>

				<table class="table datatable-basic table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Account</th>
							<th>Tax Classification</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Product Name 01</td>
							<td>Chris Kim</td>
							<td>Classification 01</td>
						</tr>
						
						<tr>
							<td>Product Name 01</td>
							<td>Chris Kim</td>
							<td>Classification 01</td>
						</tr>

						<tr>
							<td>Product Name 01</td>
							<td>Chris Kim</td>
							<td>Classification 01</td>
						</tr>

						<tr>
							<td>Product Name 01</td>
							<td>Chris Kim</td>
							<td>Classification 01</td>
						</tr>
						
						<tr>
							<td>Product Name 01</td>
							<td>Chris Kim</td>
							<td>Classification 01</td>
						</tr>

						<tr>
							<td>Product Name 01</td>
							<td>Chris Kim</td>
							<td>Classification 01</td>
						</tr>

						<tr>
							<td>Product Name 01</td>
							<td>Chris Kim</td>
							<td>Classification 01</td>
						</tr>
						
						<tr>
							<td>Product Name 01</td>
							<td>Chris Kim</td>
							<td>Classification 01</td>
						</tr>

						<tr>
							<td>Product Name 01</td>
							<td>Chris Kim</td>
							<td>Classification 01</td>
						</tr>

						<tr>
							<td>Product Name 01</td>
							<td>Chris Kim</td>
							<td>Classification 01</td>
						</tr>
						
						<tr>
							<td>Product Name 01</td>
							<td>Chris Kim</td>
							<td>Classification 01</td>
						</tr>

						<tr>
							<td>Product Name 01</td>
							<td>Chris Kim</td>
							<td>Classification 01</td>
						</tr>

						<tr>
							<td>Product Name 01</td>
							<td>Chris Kim</td>
							<td>Classification 01</td>
						</tr>
						
						<tr>
							<td>Product Name 01</td>
							<td>Chris Kim</td>
							<td>Classification 01</td>
						</tr>

						<tr>
							<td>Product Name 01</td>
							<td>Chris Kim</td>
							<td>Classification 01</td>
						</tr>
					</tbody>
				</table>

				<div class="row">
					<div class="col-md-12">
						<div class="mb-5-s text-center">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_add_new_data"><i class="icon-plus2 position-left"></i>Add Product</button>
						</div>
					</div>
				</div>
			</div>

			<!-- Disabled backdrop Add New Master Data Modal -->
			<div id="modal_add_new_data" class="modal fade" data-backdrop="false" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h5 class="modal-title">Add Product</h5>
						</div>

						<div class="modal-body">
							<hr/>

							<form class="form-horizontal" action="#">
								<fieldset class="content-group">

									<div class="form-group">
										<label class="control-label col-lg-3">Name:</label>
										<div class="col-lg-9">
											<input type="text" class="form-control" placeholder="Enter name...">
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-lg-3">Account:</label>
										<div class="col-lg-9">
											<input type="text" class="form-control" placeholder="Enter account...">
										</div>
									</div>

									<div class="form-group">
										<label class="control-label col-lg-3">Tax Classification:</label>
										<div class="col-lg-9">
											<input type="text" class="form-control" placeholder="Enter tax classification...">
										</div>
									</div>

								</fieldset>
							</form>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-primary">Add</button>
							<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /disabled backdrop -->

			<!-- Footer -->
			<div class="footer text-muted">
				&copy; 2020. Copyright
			</div>
			<!-- /footer -->

		</div>
		<!-- /content area -->

	</div>
{% endblock %}
