{% load static %}
{% load i18n %}
{% load sidebar_tags %}

<!-- Main sidebar -->
<div class="sidebar sidebar-main">
    <div class="sidebar-content">

        <!-- User menu -->
        <div class="sidebar-user">
            <div class="category-content">
                <div class="media">
                    <a href="#" class="media-left"><img src="{% static 'images/user.jpg' %}" class="img-circle img-sm" alt=""></a>
                    <div class="media-body">
                        <span class="media-heading text-semibold user-name">{{ request.user }}</span>
                        <div class="text-size-mini text-muted">
                            <i class="icon-pin text-size-small"></i><span class="user-location">日本, 東京</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /user menu -->

        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    <li>
                        <a href="#"><i class="icon-stack2"></i> <span>{% trans "Master data" %}</span></a>
                        <ul>
                            <li class="{% active 'masterdata:customer' %}"><a href="{% url 'masterdata:customer' %}">{% trans "Customer master" %}</a></li>
                            <li class="{% active 'masterdata:hall' %}"><a href="{% url 'masterdata:hall' %}">{% trans "Hall" %}</a></li>
                            <li class="{% active 'masterdata:receiver' %}"><a href="{% url 'masterdata:receiver' %}">{% trans "Receiver" %}</a></li>
                            <li class="{% active 'masterdata:product' %}"><a href="{% url 'masterdata:product' %}">{% trans "Product" %}</a></li>
                            <li class="{% active 'masterdata:document' %}"><a href="{% url 'masterdata:document' %}">{% trans "Other" %}</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="icon-cart2"></i> <span>{% trans "Contract" %}</span></a>
                        <ul>
                            <li class="{% active 'contract:trader-sales' %}"><a href="{% url 'contract:trader-sales' %}">{% trans "Trader sales" %}</a></li>
                            <li class="{% active 'contract:trader-purchases' %}"><a href="{% url 'contract:trader-purchases' %}">{% trans "Trader purchases" %}</a></li>
                            <li class="{% active 'contract:hall-sales' %}"><a href="{% url 'contract:hall-sales' %}">{% trans "Hall sales" %}</a></li>
                            <li class="{% active 'contract:hall-purchases' %}"><a href="{% url 'contract:hall-purchases' %}">{% trans "Hall purchases" %}</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#"><i class="icon-list"></i> <span>{% trans "List" %}</span></a>
                        <ul>
                            <li class="{% active 'list/sales' %}"><a href="{% url 'sales-list' %}">{% trans "Sales" %}</a></li>
                            <li class="{% active 'list/purchases' %}"><a href="{% url 'purchases-list' %}">{% trans "Purchases" %}</a></li>
                            <li class="{% active 'list/inventory' %}"><a href="{% url 'inventory-list' %}">{% trans "Inventory" %}</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="icon-exit3"></i> <span>{% trans "Accounting software CSV" %}</span></a>
                        <ul>
                            <li class="{% active 'csv/sales' %}"><a href="{% url 'csv-sales' %}">{% trans "Sale" %}</a></li>
                            <li class="{% active 'csv/purchases' %}"><a href="{% url 'csv-purchases' %}">{% trans "Purchase" %}</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        <!-- /main navigation -->

    </div>
</div>
<!-- /main sidebar -->